<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Booking Ticket</td><td>AppTest.SearchTicket(java.util.List)[pri:2, instance:Test.AppTest@2cc3ad05]<br/>AppTest.SelectSeat()[pri:4, instance:Test.AppTest@2cc3ad05]<br/>AppTest.SelectPosition(java.util.List)[pri:1, instance:Test.AppTest@2cc3ad05]<br/>AppTest.SelectTicket()[pri:3, instance:Test.AppTest@2cc3ad05]<br/></td></tr>
</table>
