<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1c291">  <td>21/09/18 01:30:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.SearchTicket(java.util.List)[pri:2, instance:Test.AppTest@2cc3ad05]">SearchTicket</td> 
  <td>main@1055601039</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/09/18 01:30:38</td>   <td>-7837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.SelectPosition(java.util.List)[pri:1, instance:Test.AppTest@2cc3ad05]">SelectPosition</td> 
  <td>main@1055601039</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/09/18 01:31:29</td>   <td>43195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.SelectSeat()[pri:4, instance:Test.AppTest@2cc3ad05]">SelectSeat</td> 
  <td>main@1055601039</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/09/18 01:31:04</td>   <td>17760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.SelectTicket()[pri:3, instance:Test.AppTest@2cc3ad05]">SelectTicket</td> 
  <td>main@1055601039</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/09/18 01:32:12</td>   <td>86660</td> <td>&nbsp;</td><td title="&lt;&lt;AppTest.deleteDriver()[pri:0, instance:Test.AppTest@2cc3ad05]">&lt;&lt;deleteDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1055601039</td>   <td></td> </tr>
</table>
